.create-game{
    display: flex;
    justify-content: center;
    border: 1px solid beige;
    width: 54%;
    margin-left: 20%;
    margin-top:5%;
    padding: 3% 5% 1% 5%;
    background-color: lightgrey;

    .sub-div{
        width:50%;
        // text-align: center;
    }
    h3{
        text-align: center;
        margin: 0;
    }
    p{
        margin-top: 1px;
        font-size: 14px;
        text-align: center;
    }
}

.label-input-div {
    margin-bottom: 4%;
    display: flex;
    label{
        width:30%;
    }
    input , select{
        width: 50%;
    }
    .react-datepicker__input-container input {
        width: 100%;
    }
}
.late-entry-div{
        width:30%;
}
.radiobtn-div{
    display: flex;
    label{
        margin-left: 10%;
    }
    input{
        width: 25px;
    }
}